* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
--primary-color: #D96AA7;
--secondary-color: #422C73;
--complimentary-color: #88BFB5;
--contrast-color: #F2E527;
--light-color: #D2A9D9;
}

.container {
  background: #191919;
  min-height: 100vh;
  font-family: Montserrat, sans-serif;
}

nav a {
    font-size: 40px;
    color: #fff;
    text-decoration: none;
    padding: 20px;
    text-align: center;
}

nav {
    position: fixed;
    left: 0;
    z-index: 50;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 100vh;
    background: var(--secondary-color);
}

section {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 0;
    opacity: 0;
    transition: all ease-in .5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

section h1 {
    color: #fff;
    font-size: 50px;
    text-transform: uppercase;
    opacity: 0;
}

/* Styles applied on trigger */
section:target {
    opacity: 1;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

section:target h1 {
    opacity: 0;
    animation: 2s fadeIn forwards .5s;
}

#first {
  /* background:var(--primary-color); */
}
#second {
    /* background: var(--complimentary-color); */
}

#third {
    background: var(--contrast-color);
}

#fourth {
    background: var(--light-color);
}

@keyframes fadeIn {
    100% { opacity:1 }
}

canvas {
  display: block;
  cursor: pointer;
}

  // Duration of inhale/exhale/hold
//
$interval: 4;

// Anxiety Box
//
.anxiety-box {
  position: relative;
  box-sizing: border-box;
  width: 250px;
  height: 250px;
  background: lightblue;
  margin: 250px auto;
  padding: 25px;
  font-family: 'Caveat', cursive;
  font-size: 28px;

  p {
    width: 125%;
    position: absolute;
    top: -85%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    line-height: 38px;
    font-size: 32px;
  }

  svg {
    width: 100%;
    fill: white;
    transform: scale(0.8);
    animation: lungAnimation #{$interval * 4}s infinite;
  }
}

// Anxiety Box Text and Dot
//
.anxiety-box {
  &__top, &__right, &__bottom, &__left {
    position: absolute;
    font-weight: 700;
  }

  &__top {
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
  }

  &__right {
    top: 50%;
    right: -54px;
    transform: translateY(-50%) rotate(90deg);
  }

  &__bottom {
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
  }

  &__left {
    top: 50%;
    left: -54px;
    transform: translateY(-50%) rotate(-90deg);
  }

  &__dot {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 20px;
    height: 20px;
    background: #7a8eff;
    border-radius: 50%;
    animation: dotAnimation #{$interval * 4}s infinite;
    animation-timing-function: cubic-bezier(.57,.31,.8,.62);
  }
}

@keyframes lungAnimation {
  0% {
    transform: scale(0.8);
  }
  25% {
    transform: scale(1);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(0.8);
  }
}

@keyframes dotAnimation {
  0% {
    top: -10px;
    left: -10px;
  }
  25% {
    top: -10px;
    left: 240px;
  }
  50% {
    top: 240px;
    left: 240px;
  }
  75% {
    top: 240px;
    left: -10px;
  }
  100% {
    top: -10px;
    left: -10px;
  }
}

// Body styles
//
body {
  background: #f2f2f2;
  color: #2d2d2d;

  &:after {
    position: fixed;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100px;
    background: linear-gradient(0deg, rgba(0,0,0,0.3295693277310925) 0%, rgba(29,49,118,0) 100%);
    pointer-events: none;
  }
}

// Description
//
.description {
  position: relative;
  max-width: 600px;
  margin: 0 auto 100px auto;

  * {
    font-size: 26px;
    line-height: 38px;
  }

  p {
    font-family: 'Caveat', cursive;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  ul {
    list-style: bullet;
    padding-left: 30px;

    li {
    font-family: 'Caveat', cursive;
    }
  }

  &:before {
    position: absolute;
    top: -100px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: lightgrey;
  }
}
